@import url('header-items.css');
@import url('header-search.css');

.header-wrapper {
    margin-bottom: var(--header-height);
}

.header-wrapper.head-hidden {
    margin-bottom: 0;
}

.header-wrapper.head-hidden .header {
    top: calc(-1 * var(--header-height));
}

.navbar {
    display: flex;
    transition: top .3s ease;
    padding: 0;
    background-color: var(--actv-bg-0);
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
}

.navbar .header-content {
    display: flex;
    height: var(--header-height);
    background-color: var(--actv-bg-0);
    color: var(--text-0);
    align-items: center;
    justify-content: space-between;
}

.header-content .logo-ref,
.logo,
.logo img {
    height: 100%;
}

/* Dark mode */

body.dark-mode .logo img {
    filter: brightness(90%);
}

.header-wrapper {
    --header-height: 4rem;
}
