@import url('paging.css');
@import url('section-banners.css');
@import url('c-search.css');

.container {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 5rem);
    padding-top: 0.2rem;
}

.footer {
    color: var(--text-color);
    text-align: center;
}

/* Objcets thumbnails */

.hidden {
    display: none !important;
}

.object-cover .image {
    display: flex;
    padding: 0.5rem 0.5rem 0 0.5rem;
    min-height: 200px;
}

.image img {
    max-width: 95%;
    margin: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.object-cover .name {
    margin: 0.4rem auto;
    max-width: 90%;
    text-align: center;
    word-wrap: break-word;
    line-height: 120%;
}

.object-cover .name h3 {
    font-size: 1em;
    color: var(--text-color);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.object-cover {
    display: inline;
    border-radius: 1rem;
    border: solid 0px;
    margin: 0.4rem;
    background-color: var(--actv-bg-0);
    box-shadow: 0.05rem 0.15rem 0.5rem var(--shdw-1);
    vertical-align: top;
    display: inline-block;
}

/* Objects Row */

.object-group-row {
    margin: 0.3rem 0.4rem;
    border-top: 2px solid var(--main-3);
    border-bottom: 2px solid var(--main-3);
    border-radius: 1rem 1rem 0.4rem 0.4rem;

    background-color: var(--actv-bg-0);
    color: var(--text-color);
}

.object-group-row .row-header {
    display: flex;
    margin: auto;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.object-group-row .row-text {
    margin: auto;
}

.object-group-row .row-toggler {
    margin: 1rem 1rem 0 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/assets/icons/arrow.png');
    background-size: cover;
    transform: rotate(180deg);
}

.row-hidden .row-toggler {
    transform: rotate(0);
}

.object-group-row .object-row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.row-hidden .object-row {
    display: none;
}

.object-row .object-cover {
    display: inline-block;
    white-space: initial;
}

@media (min-width: 1024px) {
    .object-group-row .object-row::-webkit-scrollbar {
        height: 10px;
    }

    .object-group-row .object-row::-webkit-scrollbar-track {
        background: var(--actv-bg-0);
        border-radius: 10px;
        border: 1px solid var(--main-1);
    }

    .object-group-row .object-row::-webkit-scrollbar-thumb {
        background: var(--actv-bg-3);
        border-radius: 10px;
    }

    .object-group-row .object-row::-webkit-scrollbar-thumb:hover {
        background: var(--neut-3);
    }
}

/* Object Table */

.object-group-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.3rem auto;
    width: 100%;
}

/* ------------- */

@media (min-width:1000px) {
    .object-cover {
        width: 18.5%;
    }

    .object-row .object-cover {
        width: 17%;
    }
}

@media (min-width:800px) and (max-width:1000px) {
    .object-cover {
        width: 23.3%;
    }

    .object-row .object-cover {
        width: 21%;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .object-cover {
        width: 31%;
    }

    .object-row .object-cover {
        width: 28%;
    }
}

@media (min-width:350px) and (max-width:600px) {
    .object-cover {
        width: 46%;
    }

    .image img {
        min-height: 150px;
    }

    .object-row .object-cover {
        width: 38%;
    }
}

@media (max-width:350px) {
    .object-cover {
        width: 99%;
    }

    .object-row .object-cover {
        width: 75%;
    }

    .image img {
        min-height: 150px;
    }
}

/* Dark mode */

body.dark-mode .object-group-row .row-toggler {
    filter: invert(1);
}