@import url('paging.css');
@import url('thumbnail.css');

/* Objects Row */

.object-group-row {
    margin: 0.3rem 0.4rem 3rem 0.4rem;
    border-top: 2px solid var(--main-3);
    border-bottom: 2px solid var(--main-3);
    border-radius: 1rem 1rem 0.4rem 0.4rem;

    background-color: var(--actv-bg-0);
    color: var(--text-0);
}

.object-group-row .row-header {
    display: flex;
    margin: auto 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.object-group-row .row-text {
    margin-right: auto;
}

.object-group-row .row-redirect-text {
    font-size: 1.3rem;
    font-weight: 400;
    display: inline;
}

.object-group-row .row-redirect-icon {
    vertical-align: sub;
    width: 1.5rem;
    height: 1.5rem;
    content: url('/assets/icons/next.png');
    background-size: cover;
}

.object-group-row .object-row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0.7rem 0;
}

.object-cover {
    display: inline-block;
    white-space: initial;
}

@media (min-width: 1024px) {
    .object-group-row .object-row::-webkit-scrollbar {
        height: 10px;
    }

    .object-group-row .object-row::-webkit-scrollbar-track {
        background: var(--actv-bg-0);
        border-radius: 10px;
        border: 1px solid var(--main-1);
    }

    .object-group-row .object-row::-webkit-scrollbar-thumb {
        background: var(--actv-bg-3);
        border-radius: 10px;
    }

    .object-group-row .object-row::-webkit-scrollbar-thumb:hover {
        background: var(--neut-3);
    }
}

@media (min-width:1000px) {
    .object-row .object-cover {
        width: 17%;
    }
}

@media (min-width:800px) and (max-width:1000px) {
    .object-row .object-cover {
        width: 21%;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .object-row .object-cover {
        width: 28%;
    }
}

@media (min-width:350px) and (max-width:600px) {
    .object-row .object-cover {
        width: 38%;
    }
}

@media (max-width:350px) {
    .object-row .object-cover {
        width: 75%;
    }
}

/* Dark mode */

body.dark-mode .object-group-row .row-toggler {
    filter: invert(1);
}

:root {
    --blacklisted-content-display: inline-block;
    --blacklisted-content-thumb-filter: none;
}
