.reader {
    width: 100%;
    margin: auto;
}

.page {
    width: 100%;
}

.page+.page {
    margin-top: 1rem;
}

.page .image {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media (min-width:1000px) {
    .reader {
        width: 95%;
    }
}
