@import url('paging.css');
@import url('thumbnail.css');


.object-group-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.3rem auto;
    width: 100%;
}

#not-found .elem {
    margin: 1rem auto;
    text-align: center;
    color: var(--text-0);
}

#not-found .buttons {
    display: flex;
    justify-content: center;
}

#not-found .button {
    min-width: 10rem;
    width: 20%;

    font-size: 2rem;
    border: 2px solid var(--invt-0);
    border-radius: 1rem;
}
