.stalerok {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.stalerok-elem {
    display: inline;
    margin: 0.4rem;
}

.stalerok-banner {
    border-radius: 0.5rem;
    max-height: 50px;
    max-width: 45vw;
    box-shadow: 0.05rem 0.15rem 0.5rem #ccc;
}

#link-to-tg {
    content: var(--tg-img-url);
}

#link-to-patreon {
    content: var(--patreon-img-url)
}

#link-to-video {
    content: var(--video-img-url);
}

#link-to-manga {
    content: var(--manga-img-url)
}

#link-to-korean {
    content: var(--korean-img-url)
}

body {
    --tg-img-url: url('/assets/main/banner/tg.webp');
    --patreon-img-url: url('/assets/main/banner/patreon.webp');
    --video-img-url: url('/assets/main/banner/video.webp');
    --manga-img-url: url('/assets/main/banner/manga.webp');
    --korean-img-url: url('/assets/main/banner/korean.webp')
}

@media (max-width: 1024px) {
    body {
        --tg-img-url: url('/assets/main/banner/tg-small.webp');
        --patreon-img-url: url('/assets/main/banner/patreon-small.webp');
        --video-img-url: url('/assets/main/banner/video-small.webp');
        --manga-img-url: url('/assets/main/banner/manga-small.webp');
        --korean-img-url: url('/assets/main/banner/korean-small.webp')
    }
}

@media (min-width: 1024px) {
    #link-to-video:hover {
        content: url('/assets/main/banner/video.gif')
    }
}

body.dark-mode .stalerok-banner {
    filter: brightness(0.85);
    box-shadow: 0.05rem 0.15rem 0.5rem rgb(84, 84, 84);
}