.settings-group {
    background-color: var(--actv-bg-1);
    border-radius: 0.6rem;
    color: var(--text-0);
    padding: 1rem 2rem;
}

.settings-group+.settings-group {
    margin-top: 0.8rem;
}


.setting+.setting {
    margin-top: 1rem;
}

.setting .text {
    display: inline-block;
}

.setting .text .name {
    font-size: 1.3em;
    font-weight: 600;
}

.setting .text .description {
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

/* Toggler */

.toggler {
    width: 100%;
}

.toggler-wrapper {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.toggler .switch {
    position: relative;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.toggler .switch input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 3.4rem;
    height: 1.7rem;
    cursor: pointer;
}

.toggler .switch .indicator {
    pointer-events: none;
    width: 3.4rem;
    height: 1.7rem;
    position: relative;
    background: var(--actv-bg-3);
    border-radius: 1000rem;
    padding: 3px;
    transition: left .2s ease;
}

.toggler .switch .indicator:before,
.toggler .switch .indicator:after {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%
}

.toggler .switch .indicator:after {
    left: 0;
    border-radius: 50%;
    background: var(--actv-1);
    transition: left .1s ease;
}

.toggler .switch .indicator:before {
    display: none
}

.toggler .switch input:checked+.indicator {
    background: var(--on-bg);
}

.toggler .switch input:checked+.indicator:after {
    left: 50%;
}

/* multiselect */

.multiselect-wrapper .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multiselect-add-wrapper {
    height: 100%;
    align-items: center;
    position: relative;
}

.multiselect-add {
    appearance: none;
    background-color: transparent;
    color: transparent;
    border: none;
    margin: auto 0;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    z-index: 999;
}

.multiselect-add option {
    color: var(--text-0);
    background-color: var(--main-2);
}

.multiselect-add :hover,
.multiselect-add :focus {
    border: none;
    outline: none;
}

.multiselect-add-wrapper .icon {
    max-width: 2.3rem;
    height: 100%;
}

.selected {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.selected .item {
    display: inline;
    font-size: 1rem;
    border: solid 0.5px var(--neut-0);
    border-radius: 0.3rem;
    background-color: var(--actv-bg-4);
}

.selected .item div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.selected .item .name {
    padding: 0.4em 0.7rem 0.4em 1em;
    font-weight: 600;
}

.selected .item .delete {
    height: 100%;
    padding: 0.4em 0.6em;
    background-color: var(--actv-bg-2);
    border-radius: 0 0.3rem 0.3rem 0;
}

.selected .item .icon {
    max-width: 1.2rem;
    height: 100%;
    object-fit: contain;
}


/* ---------- */

.faq-container {
    color: var(--text-0);
}

.faq-container li {
    margin-left: 2rem;
}

.faq-container h1 {
    text-align: center;
    margin: 3rem;
    font-family: 'Brush Script MT', cursive;
}

.faq-container h2 {
    margin-top: 2rem;
}

.faq-container h3 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem;
}

/* Vars */

body,
body.light {
    --on-bg: #0c0;
}

body.dark-mode {
    --on-bg: #080;
}
