.tags-group-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.3rem auto;
    width: 100%;
}

.tag-wrapper {
    display: flex;
    width: 35%;
    margin: 0.3rem 1rem;
    border: solid 1px var(--main-3);
    border-radius: 0.3rem;
}

.tag-name {
    padding: 0.2rem 1rem;
    width: 80%;
    color: var(--text-0);
}

.tag-number {
    padding: 0.2rem 1rem;
    color: var(--neut-2);
    width: 20%;
    background-color: var(--main-2);
    text-align: center;
}

.tag-wrapper:hover .tag-name {
    background-color: rgba(120, 120, 120, 0.2);
}

.tag-green:hover .tag-name {
    background-color: rgba(0, 255, 0, 0.2);
}

.tag-yellow:hover .tag-name {
    background-color: rgba(255, 255, 0, 0.2);
}

.tag-red:hover .tag-name {
    background-color: rgba(255, 0, 0, 0.2);
}

@media (min-width:1000px) {
    .tag-wrapper {
        width: 30%;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    .tag-wrapper {
        width: 43%;
    }
}

@media (max-width:600px) {
    .tag-wrapper {
        width: 95%;
    }
}
