<!DOCTYPE html>
<html lang="uk">

<head>
    <title>404 | Хентай манґа українською</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання" />
    <meta name="googlebot" content="index">
    <meta http-equiv="content-language" content="uk" />

    <meta property="og:image" content="/assets/logo/logo_color_big.webp" />
    <meta property="og:description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання" />
    <meta property="og:site_name" content="Хентай манґа українською" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/common.css">

    <script defer type="text/javascript" src="/js/theme.js"></script>
    <script defer type="text/javascript" src="/js/404.js"></script>
</head>

<body>
    <div class="container">
        <div class="pipe">
            <a href="/">
                <div class=" err-logo">
                    <img class="err-logo-img" src="/assets/logo/logo_color_big_tr.webp" />
                </div>
            </a>
            <div class="err-text">
                <div class="err-code">
                    404
                </div>
                <div class="err-message">
                    Схоже, ти заблукав
                </div>
                <div class="err-buttons">
                    <div class="err-button" id="buttons-back" onclick="history.back()">
                        Назад
                    </div>
                    <div class="err-button" id="button-home" onclick="window.location.href=window.location.origin">
                        Головна
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
