{% macro header(id='header-elem', search_sections='all') -%}
<div id='{{id}}' class='header-wrapper'>
    <div class='header navbar navbar-expand-lg fixed-top'>
        <div class='container'>
            <div class='header-content container'>
                <a class='logo' href='/'>
                    <img src='/assets/logo/logo_color_small_tr.webp' />
                </a>
                <div class='search-wrapper'>
                    <div class='search'>
                        <div class="search-input">
                            <input id="search-npt" type='text' placeholder='Пошук' />
                        </div>
                        <div id="search-btn" class="search-btn" data-search-sections="{{search_sections}}">
                            <img class='search-icon icon' alt='Tеги' src='/assets/icons/loupe.png' />
                        </div>
                    </div>
                </div>
                <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>
            <div class='collapse navbar-collapse' id='navbarResponsive'>
                <ul class='navbar-nav ms-auto'>
                    <li id='random-btn' class='nav-item'>
                        <img class='navitem-img icon' alt='Random Item' src='/assets/icons/1px.png' />
                        <span class='navitem-text'>Мені пощастить</span>
                    </li>
                    <a href='/tags/'>
                        <li id='tags-btn' class='nav-item'>
                            <img class='navitem-img icon' alt='Tеги' src='/assets/icons/1px.png' />
                            <span class='navitem-text'>Теги</span>
                        </li>
                    </a>
                    <a href='https://t.me/+-6W10KfsLNc3ZjRi'>
                        <li id='telegram-btn' class='nav-item'>
                            <img class='navitem-img icon' alt='Посилання на Телеґрам' src='/assets/icons/1px.png' />
                            <span class='navitem-text'>Група у Телеґрам</span>
                        </li>
                    </a>
                    <a href='https://linktr.ee/hentaiukr'>
                        <li id='sponsor-btn' class='nav-item'>
                            <img class='navitem-img icon' alt='Посилання на спонсора' src='/assets/icons/1px.png' />
                            <span class='navitem-text'>Підтримати нас</span>
                        </li>
                    </a>
                    <a href='/settings/'>
                        <li id='settings-btn' class='nav-item'>
                            <img class='navitem-img icon' alt='Налаштування' src='/assets/icons/1px.png' />
                            <span class='navitem-text'>Налаштування</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endmacro -%}
