{%- from 'modules/m_object_cover' import object_cover -%}
{%- from 'modules/m_header' import header -%}
{%- from 'modules/m_dark_style' import dark_style -%}

<!DOCTYPE html>
<html lang="uk">

<head>
    <title>Головна | Хентай манґа та аніме українською</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання">
    <meta name="googlebot" content="index">
    <meta http-equiv="content-language" content="uk">
    <meta name="rating" content="adult">

    <!--another bots-->
    <meta name="yandex" content="noindex, nofollow">
    <meta name="googlebot" content="notranslate">

    <meta property="og:image" content="/assets/logo/logo_color_big.webp">
    <meta property="og:url" content="https://hentaiukr.com">
    <meta property="og:description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання">
    <meta property="og:site_name" content="Хентай манґа українською">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="uk_UA">

    <meta property="twitter:title" content="Хентай манґа українською">
    <meta property="twitter:description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання">
    <meta property="twitter:image" content="/assets/logo/logo_color_small_tr.webp">
    <meta property="twitter:card" content="summary">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LQV0LBR97G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LQV0LBR97G');
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/theme.js"></script>
    <script defer type="text/javascript" src="/js/helpers.js"></script>
    <script defer type="text/javascript" src="/js/header.js"></script>
</head>

<body>
    {{ dark_style() }}
    {{ header(id='header-elem') }}

    <div class="my-container">
        {% for row in content_rows -%}
        <div class="object-group-row">
            <a href="/search/?section={{row.id}}">
                <div class="row-header">
                    <div class="row-text">{{row.name}}</div>
                    <div class="row-redirect">
                        <div class="row-redirect-text">перегляд</div>
                        <img class='row-redirect-icon icon' alt='Усі' src='/assets/icons/1px.png' />
                    </div>
                </div>
            </a>
            {% set ns = namespace(counter=0, type=row.id) -%}
            <div class="object-row">
                {% for row in split_to_rows(row.rows, row.objects) -%}
                <div>
                    {% for object in row -%}
                    {{ object_cover(ns.type + '-' + ns.counter|string, object, object.thumb.get('275')) }}

                    {% set ns.counter = ns.counter + 1 -%}
                    {% endfor -%}
                </div>
                {% endfor -%}
            </div>
        </div>
        {% endfor -%}
    </div>

    <div class="hidden" style="display:none">
        {% for row in content_rows -%}
        <div>
            <h1>{{row.name}}</h1>
            {% for object in row.objects -%}
            <div>
                <h2>{{object.id}}</h2>
                <h2>{{object.name}}</h2>
                <h3>{{object.ukr_name}}</h3>
                <h3>{{object.eng_name}}</h3>
                <h3>{{object.orig_name}}</h3>
                <h4>{{object.team.name}}</h4>
                <h4>{{object.add_date}}</h4>
                <h4>{{object.publication_year}}</h4>
                <p>{{object.about}}</p>
            </div>
            {% endfor -%}
        </div>
        {% endfor -%}
    </div>

    <div class="footer">
        <p>Сайт виконаний на некомерційній основі з вірою у Українську спільноту.</p>
        <p><a href="https://github.com/ukr-anime/web_site_html">Fork me on GitHub</a></p>
    </div>
</body>

</html>
