{%- from 'modules/m_header' import header -%}
{%- from 'modules/m_dark_style' import dark_style -%}

<!DOCTYPE html>
<html lang="uk">

<head>
    <title>Налаштування | Хентай манґа українською</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання" />
    <meta http-equiv="content-language" content="uk" />
	
	<!--normal bots-->
	<meta name="robots" content="noindex">

    <meta property="og:image" content="/assets/logo/logo_color_big.webp" />
    <meta property="og:description" content="Провідний сайт хентай манґи українською для перегляду, завантаження, читання" />
    <meta property="og:site_name" content="Хентай манґа українською" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/settings.css">

    <script type="text/javascript" src="/js/theme.js"></script>
    <script defer type="text/javascript" src="/js/helpers.js"></script>
    <script defer type="text/javascript" src="/js/header.js"></script>
    <script defer type="text/javascript" src="/js/settings.js"></script>
</head>

<body>
    {{ dark_style() }}
    {{ header(id='header-elem') }}
    <div class="my-container">
        <div class="settings-group">
            <label class="toggler setting" for="theme-toggle">
                <div class="toggler-wrapper">
                    <div class="text">
                        <div class="name">
                            Темна тема
                        </div>
                        <p class="description">Міняє колірну тему сайту.</p>
                    </div>
                    <div class="switch">
                        <input id="theme-toggle" type="checkbox">
                        <div class="indicator"></div>
                    </div>
                </div>
            </label>
            <label class="toggler setting" for="vertical-reader-toggle">
                <div class="toggler-wrapper">
                    <div class="text">
                        <div class="name">
                            Вертикальна читалка
                        </div>
                        <p class="description">Читати манґу у вертикальному форматі.</p>
                    </div>
                    <div class="switch">
                        <input id="vertical-reader-toggle" type="checkbox">
                        <div class="indicator"></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="faq-container">
            <hr />
            <div class="updates">
                <h2>
                    Нещодавні оновлення
                </h2>

                <li>Темна тема більше не мигає при переходах між сторінками;</li>
                <li>Лише одна кнопка для читання. Режим можна вибрати у налаштуваннях;</li>
                <li>Безліч дрібних виправлень</li>
            </div>

            <div class="info">
                <h2>
                    Користування пошуком
                </h2>

                <li>Можна шукати твори по назвах команд, які їх перекладали;</li>
                <li>Теґ, вписаний в пошуку головної сторінки, шукатиме тайтли по всіх категоріях (манґа, відео, манхва);</li>
                <li>Пошук по теґу в конкретній групі, шукатиме для вас лише твори з цієї групи.</li>

                <h3>Приклади стрічок пошуку</h3>
                <li><b><i>Метаморфоза</i></b> - пошук по атрибутах твору (назва, автор, перекладач...) </li>
                <li><b><i>+юрі</i></b> - "+" перед словом, вказує на те, який тег повинен бути присутній </li>
                <li><b><i>+великі_груди</i></b> - теги, що складаються з двох і більше слів повинні записуватися через <b><i>_</i></b> </li>
                <li><b><i>-прутниці</i></b> - "-" перед словом, вказує на те, що твори з тегом не повинні відображатися </li>
                <li><b><i>+мінет +велика_срака -яой Метаморфоза</i></b> - теги можна комбінувати зі звичайним пошуком</li>

            </div>

            <h1>Приємного користування сайтом!</h1>
        </div>
    </div>
</body>

</html>
